<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06566333-b188-4e03-8523-f97ec3fee691" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="97c95a10-5378-4bde-8213-d8563b0b185d">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e4c9f7d4-2011-4936-8b94-61cdce3ac738" SortOrder="0">tourListPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>