<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e4c9f7d4-2011-4936-8b94-61cdce3ac738" Alias="tourListPage" Level="1">
  <Info>
    <Name>Tour List Page</Name>
    <Icon>icon-thumbnail-list color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TourListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7e296b68-efb9-4042-b004-ced6b4fc1ab3">TourListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="34f043a9-a9f7-4209-8c6e-ef8159816092" SortOrder="0">tourPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>