<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="34f043a9-a9f7-4209-8c6e-ef8159816092" Alias="tourPage" Level="1">
  <Info>
    <Name>Tour Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>TourPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3b48dc84-535a-4783-a25d-c828731ff957">TourPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>