<?xml version="1.0" encoding="utf-8"?>
<DataType Key="49addd1b-4e3c-4e2d-b3dc-d24d6ab90756" Alias="Engage - Persona Icon Picker" Level="2">
  <Info>
    <Name>Engage - Persona Icon Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Engage</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": null,
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/30f288bd92dd456d8c5bfbbe91dc213f",
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>