<?xml version="1.0" encoding="utf-8"?>
<DataType Key="53a2a85a-9530-4394-9202-47c9616d2575" Alias="Media Picker - PDF Template" Level="1">
  <Info>
    <Name>Media Picker - PDF Template</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": "umb://media/82a839320e514fc189c9639c4b781485",
  "ValidationLimit": {
    "max": 1,
    "min": 0
  }
}]]></Config>
</DataType>