<?xml version="1.0" encoding="utf-8"?>
<DataType Key="128be7e2-d8a9-4bbf-bf0e-3a51cb93b1f8" Alias="Tour Page - Image Gallery - Block List" Level="1">
  <Info>
    <Name>Tour Page - Image Gallery - Block List</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "62a384c4-8d65-4554-8854-c3f6ef5febd4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "Image Grid",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>