<?xml version="1.0" encoding="utf-8"?>
<Media Key="928e6c53-0943-4eb0-b06b-61e0aa4b2d72" Alias="280" Level="3">
  <Info>
    <Parent Key="3a25b0bd-df58-4523-a6c3-c47a7657d377">JTHF07</Parent>
    <Path>/Tours/JTHF07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-17T10:14:52</CreateDate>
    <NodeName Default="280" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kvwi3esd/280.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>