<?xml version="1.0" encoding="utf-8"?>
<Media Key="965fd679-5cff-4701-8541-d99e998c37e6" Alias="297" Level="3">
  <Info>
    <Parent Key="0ff5641a-6e9c-4ec6-84b5-47d23fbb7a62">JEME07</Parent>
    <Path>/Tours/JEME07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-18T16:58:30</CreateDate>
    <NodeName Default="297" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p5lf5fx5/297.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>