<?xml version="1.0" encoding="utf-8"?>
<Media Key="3eccd608-9c4c-44d2-9a04-30447b2c04d6" Alias="416" Level="3">
  <Info>
    <Parent Key="3a25b0bd-df58-4523-a6c3-c47a7657d377">JTHF07</Parent>
    <Path>/Tours/JTHF07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-17T10:14:57</CreateDate>
    <NodeName Default="416" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b1lmypsm/416.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>