<?xml version="1.0" encoding="utf-8"?>
<Media Key="09f67cf9-70df-4706-b1cf-9cf82a020bf3" Alias="452" Level="3">
  <Info>
    <Parent Key="0ff5641a-6e9c-4ec6-84b5-47d23fbb7a62">JEME07</Parent>
    <Path>/Tours/JEME07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-18T16:58:30</CreateDate>
    <NodeName Default="452" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/534pmco5/452.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>