<?xml version="1.0" encoding="utf-8"?>
<Media Key="3104c66e-7f02-494f-a44a-163cb70bb405" Alias="474" Level="3">
  <Info>
    <Parent Key="3a25b0bd-df58-4523-a6c3-c47a7657d377">JTHF07</Parent>
    <Path>/Tours/JTHF07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-17T10:15:06</CreateDate>
    <NodeName Default="474" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nddaimic/474.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>