<?xml version="1.0" encoding="utf-8"?>
<Media Key="3403103c-9a59-441f-9783-f18a946f1ef8" Alias="503" Level="3">
  <Info>
    <Parent Key="3a25b0bd-df58-4523-a6c3-c47a7657d377">JTHF07</Parent>
    <Path>/Tours/JTHF07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-17T10:15:52</CreateDate>
    <NodeName Default="503" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hiiagncz/503.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>