<?xml version="1.0" encoding="utf-8"?>
<Media Key="d62f69db-70be-4868-a7e6-c23a27f99b25" Alias="667" Level="3">
  <Info>
    <Parent Key="0ff5641a-6e9c-4ec6-84b5-47d23fbb7a62">JEME07</Parent>
    <Path>/Tours/JEME07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-18T16:58:30</CreateDate>
    <NodeName Default="667" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1vud5vv4/667.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>