<?xml version="1.0" encoding="utf-8"?>
<Media Key="a69bf5d0-5ead-414b-967c-082aea96106f" Alias="823" Level="3">
  <Info>
    <Parent Key="0ff5641a-6e9c-4ec6-84b5-47d23fbb7a62">JEME07</Parent>
    <Path>/Tours/JEME07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-18T16:58:30</CreateDate>
    <NodeName Default="823" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/010jxjvn/823.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>