<?xml version="1.0" encoding="utf-8"?>
<Media Key="20452d43-d141-47fd-9ecd-068432e934ca" Alias="938" Level="3">
  <Info>
    <Parent Key="3a25b0bd-df58-4523-a6c3-c47a7657d377">JTHF07</Parent>
    <Path>/Tours/JTHF07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-17T10:14:20</CreateDate>
    <NodeName Default="938" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iuwfkicb/938.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>