<?xml version="1.0" encoding="utf-8"?>
<Media Key="24660c45-8224-4132-942b-19fe8992cc7e" Alias="939" Level="3">
  <Info>
    <Parent Key="0ff5641a-6e9c-4ec6-84b5-47d23fbb7a62">JEME07</Parent>
    <Path>/Tours/JEME07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-18T16:58:30</CreateDate>
    <NodeName Default="939" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/imggmjbe/939.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>