<?xml version="1.0" encoding="utf-8"?>
<Media Key="240eaf8e-fe89-4fe9-ba49-2274e81e99e4" Alias="955" Level="3">
  <Info>
    <Parent Key="0ff5641a-6e9c-4ec6-84b5-47d23fbb7a62">JEME07</Parent>
    <Path>/Tours/JEME07/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-07-18T16:58:30</CreateDate>
    <NodeName Default="955" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rcxb2jej/955.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>