<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e03ec56-5265-40d5-a2e2-e7faf0eca688" Alias="Customer Journey" Level="2">
  <Info>
    <Parent Key="1bda9569-7f8c-4e9b-83f4-b375162e23cc">Engage</Parent>
    <Path>/Engage/CustomerJourney</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-15T09:22:57</CreateDate>
    <NodeName Default="Customer Journey" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>