<?xml version="1.0" encoding="utf-8"?>
<Media Key="ed59cdaf-f66d-4a60-b31b-a781ee72d5b6" Alias="Itinerary" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Itinerary</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-17T10:52:09</CreateDate>
    <NodeName Default="Itinerary" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>