<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ff5641a-6e9c-4ec6-84b5-47d23fbb7a62" Alias="JEME07" Level="2">
  <Info>
    <Parent Key="218e90aa-3573-4b3b-ba53-83cdb3019801">Tours</Parent>
    <Path>/Tours/JEME07</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-18T16:34:14</CreateDate>
    <NodeName Default="JEME07" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>