<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a25b0bd-df58-4523-a6c3-c47a7657d377" Alias="JTHF07" Level="2">
  <Info>
    <Parent Key="218e90aa-3573-4b3b-ba53-83cdb3019801">Tours</Parent>
    <Path>/Tours/JTHF07</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-17T10:07:44</CreateDate>
    <NodeName Default="JTHF07" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>