<?xml version="1.0" encoding="utf-8"?>
<Media Key="82a83932-0e51-4fc1-89c9-639c4b781485" Alias="PDF Template" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PDFTemplate</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-17T10:23:32</CreateDate>
    <NodeName Default="PDF Template" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>