<?xml version="1.0" encoding="utf-8"?>
<Media Key="218e90aa-3573-4b3b-ba53-83cdb3019801" Alias="Tours" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Tours</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-07-17T10:07:04</CreateDate>
    <NodeName Default="Tours" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>