<?xml version="1.0" encoding="utf-8"?>
<Content Key="40593477-f69a-4a62-b16e-7004a4288949" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-07-16T11:05:55</CreateDate>
    <NodeName Default="Home">
      <Name Culture="zh-hant-hk">Home</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-hk">true</Published>
    </Published>
    <Schedule />
    <Template Key="97c95a10-5378-4bde-8213-d8563b0b185d">HomePage</Template>
  </Info>
  <Properties />
</Content>