<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3a8bcc6-136d-4b28-b0f5-0b8b115f23c5" Alias="HTJTHF07" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/HTJTHF07</Path>
    <Trashed Parent="9a1ae2c2-4c6d-468d-91a4-641060105e7c">true</Trashed>
    <ContentType>tourPage</ContentType>
    <CreateDate>2025-07-16T11:21:28</CreateDate>
    <NodeName Default="HTJTHF07">
      <Name Culture="zh-hant-hk">HTJTHF07</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-hk">true</Published>
    </Published>
    <Schedule />
    <Template Key="3b48dc84-535a-4783-a25d-c828731ff957">TourPage</Template>
  </Info>
  <Properties />
</Content>