<?xml version="1.0" encoding="utf-8"?>
<Content Key="9a1ae2c2-4c6d-468d-91a4-641060105e7c" Alias="Tours" Level="2">
  <Info>
    <Parent Key="40593477-f69a-4a62-b16e-7004a4288949">Home</Parent>
    <Path>/Home/Tours</Path>
    <Trashed>false</Trashed>
    <ContentType>tourListPage</ContentType>
    <CreateDate>2025-07-16T11:12:59</CreateDate>
    <NodeName Default="Tours">
      <Name Culture="zh-hant-hk">Tours</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="zh-hant-hk">true</Published>
    </Published>
    <Schedule />
    <Template Key="7e296b68-efb9-4042-b004-ced6b4fc1ab3">TourListPage</Template>
  </Info>
  <Properties />
</Content>